<h2> <%= @vendor.name %> </h2>

Contact Info: <br>
Name: <%= @vendor.contact_name %> <br>
Phone: <%= @vendor.contact_phone %> <br>
<br>
Credit Accepted?: <%= "YES" if @vendor.credit_accepted %> <%= "NO" if !@vendor.credit_accepted %><br>
<br>
Description: <%= @vendor.description %>
<br><br>

<b>Search for Markets to add to this Vendor:</b><br>
<%= form_with url: search_path, method: :get, local: :true do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :city %>
  <%= f.text_field :state %>
  <%= f.submit "Search for Market" %>
<% end %>