<h2>Markets</h2>

<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>State</th>
    <th></th>
  </tr>

  <tr>
    <% @markets.each do |m| %>
      <tr id ="market-<%= m.id %>">
        <td> <%= m.name %> </td>
        <td> <%= m.city %> </td>
        <td> <%= m.state %> </td> 
        <td> <%= button_to "More Info", market_path(m.id), method: :get %> </td>
      </tr>
    <% end %>
  </tr>

</table>